<app-container title="Characters">
    <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-5">
        @for(character of characters(); track character.id){

            <app-card 
                [imageUrl]="character.image" 
                [title]="character.name" 
                [id]="character.id" 
                routePath="/characters">
                
                <character-status-badge [status]="character.status" [species]="character.species" />

                <app-card-info-field label="Gender" [value]="character.gender" />

                <app-card-info-field label="Last known location" [value]="character.location.name" [link]="['/locations', character.location.url | hideurl]" />

                <more-details path="characters" [id]="character.id"/>
            </app-card>
        }
    </div>
</app-container>