<app-container title="Episodes">
    <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mx-5">
        @for(episode of episodes(); track episode.id;){
            <app-card
                [id]="episode.id"
                [title]="episode.name"
                routePath="/episodes">

                <app-card-info-field label="Air Date" [value]="episode.airDate | date : 'yyyy-MM-dd'" />

                <app-card-info-field label="Episode" [value]="episode.episode" />
    
                <more-details path="episodes" [id]="episode.id"/>
            </app-card>
        }
    </div>
</app-container>