<app-container title="Locations">
    <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 mx-5">
        @for(location of locations(); track location.id;){
            <app-card [id]="location.id" [title]="location.name" routePath="/locations">
                <app-card-info-field label="Type" [value]="location.type" />
                
                <app-card-info-field label="Dimension" [value]="location.dimension" />

                <more-details path="locations" [id]="location.id"/>
            </app-card>
        }
    </div>
</app-container>