@let localEpisode = episode(); 

@if(localEpisode && localEpisode !== undefined){
  <app-container title="Episode Detail">
    <app-detail-container [title]="episodeName">
      <div info>
        <app-card-info-field cssClass="mt-2" label="Air Date" [value]="localEpisode.airDate | date" />

        <app-card-info-field cssClass="mt-2" label="Episode Number" [value]="localEpisode.episode" />
        
        <app-card-info-field cssClass="mt-2" label="Url" [value]="localEpisode.url" [hrefLink]="localEpisode.url" />
        
        <app-card-info-field cssClass="mt-2" label="Created at" [value]="localEpisode.created | date" />
      </div>

      <div related>
        @if(charactersLength > 0){
          <app-related-items
            title="Characters in episode"
            urlPath="/episodes"
            [items]="localEpisode.characters"
          />
        }
      </div>
    </app-detail-container>
  </app-container>
}
