@let localCharacter = character(); 
@if(localCharacter && localCharacter !== undefined){
  <app-container title="Character Detail">
    <app-detail-container
      [title]="localCharacter.name"
      [imageUrl]="localCharacter.image">
      
      <div info>
        <character-status-badge
          [status]="localCharacter.status"
          [species]="localCharacter.species"/>

          <app-card-info-field label="Gender" [value]="localCharacter.gender"/>

          <app-card-info-field label="Origin" [value]="localCharacter.origin.name"/>
          
          <app-card-info-field label="Location" [value]="localCharacter.location.name"/>
          
          <app-card-info-field label="Episodes" [value]="episodesLength"/>

          <app-card-info-field label="Created at" [value]="localCharacter.created | date"/>
      </div>

      <div related>
        @if(episodesLength > 0){
          <app-related-items
            title="Appears In"
            urlPath="/episodes"
            [items]="localCharacter.episodes"/>
        }
      </div>
    </app-detail-container>
  </app-container>
}
