@let locationLocal = location(); 

@if(locationLocal && locationLocal !== undefined){
  <app-container title="Location Detail">
    <app-detail-container [title]="locationLocal.name">
      <div info>
        <app-card-info-field cssClass="mt-2" label="Type" [value]="locationLocal.type" />

        <app-card-info-field cssClass="mt-2" label="Dimension" [value]="locationLocal.dimension" />

        <app-card-info-field cssClass="mt-2" label="Url" [value]="locationLocal.url" [hrefLink]="locationLocal.url" />

        <app-card-info-field cssClass="mt-2" label="Created at" [value]="locationLocal.created | date" />
      </div>

      <div related>
        @if(residentsLength > 0){
          <app-related-items
            title="Residents"
            [items]="locationLocal.residents"
            urlPath="/locations"
          />
        }
      </div>
    </app-detail-container>
  </app-container>
}
