@let locationLocal = location();

@if(locationLocal && locationLocal != undefined){
    <app-container title="Location Detail">
     <div class="flex flex-col items-center justify-center px-4 py-8 sm:py-12 lg:px-8">
    
        <!-- TODO: Refactor and separate components -->
        <div class="w-full max-w-4xl bg-white border border-gray-200 rounded-2xl shadow-md dark:bg-gray-800 dark:border-gray-700 overflow-hidden">
          <!-- Header -->
          <div class="flex flex-col md:flex-row items-center md:items-start gap-6 p-6">
            <!-- Character Info -->
            <div class="flex-1">
              <h1
                class="text-3xl font-bold text-gray-900 dark:text-white mb-2"
              >
                {{ locationLocal.name }}
              </h1>
       
              <p class="mt-4 text-gray-700 dark:text-gray-300">
                <span class="font-semibold">Type:</span>
                {{ locationLocal.type }}
              </p>
    
              <p class="mt-1 text-gray-700 dark:text-gray-300">
                <span class="font-semibold">Dimension:</span>
                {{ locationLocal.dimension }}
              </p>
    
              <p class="mt-1 text-gray-700 dark:text-gray-300">
                <span class="font-semibold">Url:</span>
                {{ locationLocal.url }}
              </p>

              <p class="mt-1 text-gray-700 dark:text-gray-300">
                <span class="font-semibold">Created:</span>
                {{ locationLocal.created | date }}
              </p>
            </div>
          </div>
    
          <hr class="border-gray-200 dark:border-gray-700" />
               
          @if(residentsLength > 0){
            <div class="p-6">
              <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">
                Residents
              </h2>
              <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-3">
                @for (resident of locationLocal.residents; track resident) {
                  <li class="p-2 text-sm text-gray-700 dark:text-gray-300 bg-gray-50 dark:bg-gray-700/50 rounded-lg border border-gray-200 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 transition">
                  
                      <a [routerLink]="[resident | hideurl]">{{ resident | hideurl }}</a> 
                  </li>
                }
              </ul>
            </div>
          }
        </div>
      </div>
    </app-container>
}